<%- include('../../header.ejs') %>
<%- include('../../navbar.ejs') %>
<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            <h2>Criar novo funcionário</h2>
        </div>
        <div class="card-body">
            <form action="/admin/funcionarios/save" method="POST">
                <input type="text" class="form-control" name="nome" placeholder="Nome do funcionário"><br>
                <input type="text" class="form-control" name="cpf" placeholder="CPF do funcionário"><br>
                <select name="sexo" class="form-select">
                    <option value="Masculino">Masculino</option>
                    <option value="Feminino">Feminino</option>
                    <option value="Não declarado">Não declarado</option>
                </select><br>
                <input type="text" class="form-control" name="cargo" placeholder="Cargo do funcionário"><br>
                <select name="empresa" class="form-select">
                    <% empresas.forEach( empresa => { %>
                    <option value="<%= empresa.id %>"><%= empresa.fantasia %></option>
                    <% }) %>
                </select>
                <br>
                <button class="btn btn-success">Cadastrar</button>
            </form>
        </div>
    </div>
    <br>
</div>
<%- include('../../footer.ejs') %>