<%- include('../../header.ejs') %>
<%- include('../../navbar.ejs') %>
<div class="container">
    <br>
    <a href="/admin/funcionarios/create" class="btn btn-success">Novo funcionario</a>
    <br>
    <br>
    <table class="table  table-stripet table-bordered text-center">
        <thead class="table-primary">
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Sexo</th>
                <th>Cargo</th>
                <th>empresa</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% funcionarios.forEach( funcionario =>{ %>
                <tr>
                    <td><%= funcionario.id %></td>
                    <td><%= funcionario.nome %></td>
                    <td><%= funcionario.cpf %></td>
                    <td><%= funcionario.sexo %></td>
                    <td><%= funcionario.cargo %></td>
                    <td><%= funcionario.empresaId %></td>
                    <td>
                        <a href="/admin/listas/funcionario/<%= funcionario.id %>" class="btn btn-primary">Listas</a>
                        <a href="/admin/funcionarios/editar/<%= funcionario.id %>" class="btn btn-warning">Editar</a>
                        <form action="/admin/funcionarios/delete" method="POST" style="display: inline-block;" onsubmit="toSubmit(event, this);">
                            <input type="hidden" name="id" value="<%= funcionario.id %>">
                            <button class="btn btn-danger">Deletar</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <br>
</div>
<%- include('../../footer.ejs') %>

<script>
    function toSubmit(event, form){
        event.preventDefault();
        var decision = confirm("Deseja deletar esse funcionário?");
        if(decision){
            form.submit();
        }
    }
</script>