<%- include('../../header.ejs') %>
<%- include('../../navbar.ejs') %>
<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            <h2>Atualizar funcionário</h2>
        </div>
        <div class="card-body">
            <form action="/admin/funcionarios/update" method="POST">
                <input type="hidden" name="id" value="<%= funcionario.id %>">
                <input type="text" class="form-control" name="nome" value="<%= funcionario.nome %>"><br>
                <input type="text" class="form-control" name="cpf" value="<%= funcionario.cpf %>"><br>
                <select name="sexo" class="form-select">
                    <option value="<%= funcionario.sexo%>" selected><%= funcionario.sexo%></option>
                    <option value="Masculino">Masculino</option>
                    <option value="Feminino">Feminino</option>
                    <option value="Não declarado">Não declarado</option>
                </select>
                <br>
                <input type="text" class="form-control" name="sexo" value="<%= funcionario.sexo %>"><br>
                <input type="text" class="form-control" name="cargo" value="<%= funcionario.cargo %>"><br>
                <select name="empresa" class="form-select">
                    <% empresas.forEach( empresa => { %>
                        <% if(funcionario.empresaId == empresa.id){ %>
                            <option value="<%= empresa.id %>" selected><%= empresa.fantasia %></option>
                        <% }else{ %>
                            <option value="<%= empresa.id %>"><%= empresa.fantasia %></option>
                        <% } %>
                    <% }) %>
                </select>
                <br>
                <button class="btn btn-success">Atualizar</button>
            </form>
        </div>
    </div>
    <br>
</div>
<%- include('../../footer.ejs') %>