<%- include('../../header.ejs') %>
<%- include('../../navbar.ejs') %>
<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            <h2>Atualizar funcionário</h2>
        </div>
        <div class="card-body">
            <form action="/admin/funcionarios/update" method="POST">
                <input type="hidden" name="id" value="<%= funcionario.id %>">
                <input type="text" class="form-control" name="nome" value="<%= funcionario.nome %>"><br>
                <input type="text" class="form-control" name="cpf" value="<%= funcionario.cpf %>"><br>
                <input type="text" class="form-control" name="sexo" value="<%= funcionario.sexo %>"><br>
                <input type="text" class="form-control" name="cargo" value="<%= funcionario.cargo %>"><br>
                <button class="btn btn-success">Atualizar</button>
            </form>
        </div>
    </div>
    <br>
</div>
<%- include('../../footer.ejs') %>