<%- include('../../header.ejs') %>
<%- include('../../adminnavbar.ejs') %>
<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            <h2>Atualizar usuário</h2>
        </div>
        <div class="card-body">
            <form action="/admin/usuarios/update" method="POST">
                <input type="hidden" name="id" value="<%= user.id %>">
                <input type="text" class="form-control" name="login" value="<%= user.login %>"><br>
                <input type="password" class="form-control" name="senhaform" value="<%= user.senha %>"><br>
                <select name="tipo" class="form-select">
                    <option selected disabled value="<%= user.tipo %>"><%= user.tipo %></option>
                    <option value="admin">admin</option>
                    <option value="normal">normal</option>
                </select><br>
                <select name="funcionarioId" class="form-select">
                    <% funcionarios.forEach( funcionario => { %>
                        <% if(user.funcionarioId == funcionario.id){ %>
                            <option value="<%= funcionario.id %>" selected><%= funcionario.nome %></option>
                        <% }else{ %>
                            <option value="<%= funcionario.id %>"><%= funcionario.nome %></option>
                        <% } %>
                    <% }) %>
                </select>
                <br>
                <button class="btn btn-success">Atualizar</button>
            </form>
        </div>
    </div>
    <br>
</div>
<%- include('../../footer.ejs') %>