<%- include('../../header.ejs') %>
<%- include('../../navbar.ejs') %>
<div class="container">
    <br>
    <a href="/admin/empresas/create" class="btn btn-success">Nova empresa</a>
    <br>
    <br>
    <table class="table  table-stripet table-bordered text-center">
        <thead class="table-primary">
            <tr>
                <th>#</th>
                <th>Razão</th>
                <th>Fantasia</th>
                <th>CNPJ</th>
                <th>Responsavel</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% empresas.forEach( empresa =>{ %>
                <tr>
                    <td><%= empresa.id %></td>
                    <td><%= empresa.razao %></td>
                    <td><%= empresa.fantasia %></td>
                    <td><%= empresa.cnpj %></td>
                    <td><%= empresa.responsavel %></td>
                    <td>
                        <a href="/admin/funcionarios/empresas/<%= empresa.id %>" class="btn btn-primary">Funcionarios</a>
                        <a href="/admin/empresas/editar/<%= empresa.id %>" class="btn btn-warning">Editar</a>
                        <form action="/admin/empresas/delete" method="POST" style="display: inline-block;" onsubmit="toSubmit(event, this);">
                            <input type="hidden" name="id" value="<%= empresa.id %>">
                            <button class="btn btn-danger">Deletar</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <br>
</div>
<%- include('../../footer.ejs') %>

<script>
    function toSubmit(event, form){
        event.preventDefault();
        var decision = confirm("Deseja deletar essa empresa?");
        if(decision){
            form.submit();
        }
    }
</script>