<%- include('../../header.ejs') %>
<%- include('../../navbar.ejs') %>
<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            <h2>Criar nova lista</h2>
        </div>
        <div class="card-body">
            <form action="/admin/listas/save" method="POST">
                <input type="text" class="form-control" name="titulo" placeholder="Titulo da lista"><br>
                <select name="responsavel" class="form-select">
                    <option selected disabled>Nome do responsável</option> 
                    <% funcionarios.forEach( funcionario => { %> 
                        <option value="<%= funcionario.id %>"><%= funcionario.nome %></option> 
                    <% }) %>
                </select><br>
                <select name="status" class="form-select">
                    <option selected disabled>Grau de urgencia</option>
                    <option value="Alto">Alto</option>
                    <option value="Medio">Medio</option>
                    <option value="Baixo">Baixo</option>
                </select><br>
                <button class="btn btn-success">Cadastrar</button>
            </form>
        </div>
    </div>
    <br>
</div>
<%- include('../../footer.ejs') %>