<%- include('../../header.ejs') %>
<%- include('../../navbar.ejs') %>
<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            <h2>Atualizar lista</h2>
        </div>
        <div class="card-body">
            <form action="/admin/listas/updade" method="POST">
                <input type="hidden" name="id" value=" <%= lista.id %>">
                <input type="text" class="form-control" name="titulo" value="<%= lista.titulo %>"><br>
                <input type="text" class="form-control" name="responsavel" value="<%= lista.responsavel %>"><br>
                <input type="text" class="form-control" name="status" value="<%= lista.status %>"><br>
                <button class="btn btn-success">Atualizar</button>
            </form>
        </div>
    </div>
    <br>
</div>
<%- include('../../footer.ejs') %>